@use "../../globals" as *;
@use "../../mixins.scss" as *;
@use "../../variables" as *;

.scroll-container {
    width: 100vw;
    background-color: $secondaryColor;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    .scroll-link {
        margin-top: 0px;
        cursor: pointer;
        // width: 100vw;
        // background-color: $secondaryColor;
        color: $white;
        font-size: 18px;
        transform: translateX(-17px);
        // align-self: center;
        text-decoration: none;
        &:hover {
            color: #ff9800;
        }
    }

    p {
        margin-top: 0px;
        padding-bottom: 0px;
        cursor: pointer;
        color: $primaryColor;
        font-size: 16px;
        text-decoration: none;
        &:hover {
            color: $white;
        }
    }
}
