@use "../../globals" as *;
@use "../../mixins.scss" as *;
@use "../../variables" as *;

.main-content {
    height: 100vh;
    background-size: cover;
    background-image: url("../../Project_placeholders_photos/Division-19.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    // padding-top: 40vh;

    .hero-content {
        align-content: center;
        cursor: default;

        img {
            width: 700px;
            height: auto;
        }
    }
}

.company-name {
    font-size: 12em;
    margin-bottom: 0px;
    // cursor: default;
    color: $primaryColor;
    @include breakpoint-down(small) {
        font-size: 3em;
    }
}

.subheading {
    font-size: 3em;
    transform: translate(-90px, -10px);
    @include breakpoint-down(small) {
        font-size: 1em;
        transform: translate(5px, -10px);
    }
}

.cta-info {
    height: 110vh;
    width: 100vw;

    background-color: $secondaryColor;

    .cta-content {
        // display: flex;
        position: absolute;
        flex-direction: column;
        align-content: center;
        right: 500px;
        line-height: 100px;
        font-size: 32px;
        // left: 50;
        justify-content: center;
        max-width: 50%;
        height: 100%;
    }
}

.portfolio-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("../../Project_placeholders_photos/Marias+Seating-125+cc+ws.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2);
}

.project-title {
    font-size: 6em;
    color: white;
}

.project-subheading {
    font-size: 1.5em;
}

.project-display {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background-color: $secondaryColor;
    @include breakpoint-down(medium) {
        grid-template-columns: 1fr;
    }

    @include breakpoint-up(xlarge) {
        grid-template-columns: repeat(3, 1fr);
    }
    text-align: center;
    // margin-top: 20px;
}

// .project-card {
//     background-color: #f9f9f9;
//     // background-image: url("../../Project_placeholders_photos/Feb102011_9690_1_tonemapped.jpg");
//     background-size: cover;
//     height: 50vh;
//     margin: 0;
//     padding: 0;
//     /* border-radius: 2px; */
//     box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2);
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;

//     &:hover {
//         opacity: 90%;
//     }
// }
