@use "../../globals" as *;
@use "../../variables" as *;
@use "../../mixins" as *;

.description {
    padding: 0rem;
    max-width: 100vw;
    text-align: left;
    color: $secondaryColor;
    display: block;

    .container {
        display: flex;
        justify-content: center;
        padding: 0;
        max-height: 50%;
        // max-width: 50vw;
        background-color: $secondaryColor;
        margin: 0 auto; /* Center the container horizontally */
    }

    .body-container {
        display: flex;
        max-width: 50%;
        @include breakpoint-down(small) {
            max-width: 70%;
        }
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        padding: 30px 20px;
    }

    .title {
        font-size: 2.25rem;
        margin-bottom: 0.3125rem;
        // color: #fdb715;
        color: $primaryColor;
    }

    .description_subheading {
        font-size: 0.875rem;
        margin-bottom: 1.125rem;
        color: #ffffff;
    }

    .body-text {
        // font-family: Arial, Narrow;
        font-size: 1rem;
        line-height: 1.875rem;
        @include breakpoint-down(small) {
            line-height: 1.675rem;
        }
        margin-bottom: 1.875rem;
        color: #ffffff;
    }
}
